@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.abacate {
    border-radius: 0.2rem !important;
    border: 1.5px solid black !important;
}

button {
    border-radius: 0.2rem !important;
    width: 35rem;
}

button:hover {
    transition: 0.3s !important;
    background: rgba(0, 0, 0, 0.596) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 0.2rem !important;
    width: 35rem;
}