@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Poppins', sans-serif;
}

.dark-mode {
  background-color: rgb(12, 3, 46);
  color: white !important;
}

.dark-mode .tel {
  color: rgb(115, 147, 255) !important;
}

.dark-mode .ok {
  color: #184e8e;
}

.dark-mode .qm {
  color: #86bdff;
}

.dark-mode .contact {
  color: #86bdff !important;
}

.dark-mode .btn {
  background: linear-gradient(135deg, #0a138d, #010058) !important;
}

.dark-mode .btn:hover {
  background: linear-gradient(135deg, #020eb8, #2e2caa) !important;
}

.dark-mode .header-blue .action-button {
  background: white !important;
  color: black;
}

.dark-mode .header-blue .action-button:hover {
  background: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255);
}

.dark-mode .light {
  color: white !important;
  cursor: pointer;
}

.dark-mode .header-blue {
  background: linear-gradient(135deg, #020531, #161555) !important;
}

.header-blue {
  background: linear-gradient(135deg, #e09421, #ffbb00);
  background-color: #184e8e;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 90px;
  font-family: 'Source Sans Pro', sans-serif;
}

.dp {
  color: white;
}

@media (min-width:768px) {
  .header-blue {
    padding-bottom: 120px;
    margin-bottom: 30px;
  }
}

.header-blue .navbar {
  background: transparent;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
  animation-name: fade;
  animation-delay: 1s;
}

@media (min-width:768px) {
  .header-blue .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.header-blue .navbar .navbar-brand {
  font-weight: bold;
  color: inherit;
  transition: 0.4s;
}

.header-blue .navbar .navbar-brand:hover {
  color: #f0f0f0;
  transform: translateY(5px);
}

.header-blue .navbar .navbar-collapse {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: .5rem;
}

@media (min-width:768px) {
  .header-blue .navbar .navbar-collapse {
    border-color: transparent;
    margin: 0;
  }
}

.header-blue .navbar .navbar-collapse span .login {
  color: #ffffff;
  margin-right: .5rem;
  text-decoration: none;
}

.header-blue .navbar .navbar-collapse span .login:hover {
  color: rgba(255, 255, 255, 0.774);
}

.header-blue .navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.3);
}

.header-blue .navbar .navbar-toggler:hover,
.header-blue .navbar-toggler:focus {
  background: none;

}

.header-blue .navbar .navbar-nav a.active,
.header-blue .navbar .navbar-nav>.show .dropdown-item {
  background: none;
  box-shadow: none;
}

@media (min-width: 768px) {
  .header-blue .navbar-nav .nav-link {
    padding-left: .7rem;
    padding-right: .7rem;
  }
}

@media (min-width: 992px) {
  .header-blue .navbar-nav .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.header-blue .navbar .navbar-nav>li>.dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus,
.header-blue .navbar .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #ffffff;
  transition: 0.4s;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus,
.header-blue .navbar .dropdown-menu .dropdown-item:hover {
  background: #fca524;
  transform: translateY(5px);
}

.dark-mode .header-blue .navbar .dropdown-menu .dropdown-item:hover {
  background: #ffffff;
  color: rgb(0, 0, 0) !important;
}

.header-blue .action-button,
.header-blue .action-button:not(.disabled):active {
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 40px;
  color: #ffffff;
  box-shadow: none;
  text-shadow: none;
  padding: .4rem .9rem;
  width: 10rem;
  background: black;
  transition: background-color 0.25s;
  outline: none;
  transition: 0.3s;
}

.header-blue .action-button:hover {
  color: rgb(255, 255, 255);
  background: transparent;

}

.header-blue .navbar .form-inline label {
  color: #ffffff;
}

.header-blue .navbar .form-inline .search-field {
  display: inline-block;
  width: 90%;
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: rgb(0, 0, 0);
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

.header-blue .navbar .form-inline .search-field:focus {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.header-blue .hero {
  margin-top: 20px;
  text-align: center;

}

.col-12 {
  margin-bottom: 50px !important;
}

.contact {
  color: #dd8809;
}

.qm2 {
  color: orange;
}

.container,
.hero button {
  margin-bottom: 20px;
}

@media (min-width:768px) {
  .header-blue .hero {
    margin-top: 10px;
    text-align: left;
  }
}

.header-blue .hero h1 {
  color: #fff;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 1.4;

}

@media (min-width:992px) {
  .header-blue .hero h1 {
    margin-top: 150px;
    margin-bottom: 24px;
    line-height: 1.2;
  }
}

.header-blue .hero p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 300;
  text-align: left;
}

.header-blue .phone-holder {
  text-align: right;
}

.header-blue div.iphone-mockup {
  position: relative;
  max-width: 1200px;
  margin: 10px;
  display: inline-block;
}

.header-blue .iphone-mockup img.device {
  margin-top: 100px;
  width: 100%;
  height: auto;
}

.header-blue .iphone-mockup .screen {
  position: absolute;
  width: 100%;
  height: 77%;
  top: 12%;
  border-radius: 2px;
  left: 6%;
  border: 1px solid #444;
  background-color: #aaa;
  overflow: hidden;
  background: url(../../assets/img/screen-content-iphone-6.jpg);
  background-size: cover;
  background-position: center;
}

.header-blue .iphone-mockup .screen:before {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 70%;
  height: 140%;
  top: -12%;
  right: -60%;
  transform: rotate(-19deg);
  opacity: 0.2;
}

.sobre h2 {
  font-size: 3rem;
}

.form {
  margin-bottom: 6rem !important;
}

.sobre {
  text-align: center;
  margin-bottom: 10rem;
  font-size: 4rem !important;
}

.qm {
  color: #e09421;
}

span {
  color: #000000;
}

.dark-mode span {
  color: white !important;
}

input {
  width: 20rem;
}

.text a {
  text-decoration: none;
  color: #ffffff;
}

.btn {
  background: linear-gradient(135deg, #e09421, #ffbb00);
  border: none;
  border-radius: 2rem;
  transition: 0.3s;
  width: 10rem;
  height: 2.5rem;
}

.btn:hover {
  background: linear-gradient(135deg, #dd8809, #a07500);
}

.text-center a {
  color: #ff9900;
  text-decoration: underline;
}

.light {
  border: none;
  height: 40px;
  background: none;
  font-size: 1.5rem;
  width: 40px;
  margin-left: 20px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}

@media(max-width:1349px) {
  .light {
    position: relative;
  }
}

.light:hover {
  color: #ffffff;
  transform: scale(1.2);
}

.moon {
  color: rgb(255, 255, 255);
}

.dark-mode footer {
  background-color: #010058 !important;
}

.dark-mode input {
  background: #01053b;
}

.dark-mode textarea {
  background: #010058;
}

footer {
  background-color: #e09421;
  padding: 50px 0;
}

.container-footer {
  max-width: 1400px;
  padding: 0 4%;
  margin: auto;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 22px;
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin: 10px 0;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #cecdcd;
  padding-left: 10px;
}

.footer-col .medias-socias {
  margin-top: 30px;
}

.footer-col .medias-socias a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
  transition: all 0.5s ease;
}

.footer-col .medias-socias a i {
  font-size: 20px;
}

.footer-col .medias-socias a:hover {
  color: #000000;
  background-color: white;
}

.footer-col .form-sub input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid rgb(0, 0, 0);
  color: white;
  background-color: #000000;
}

.footer-col .form-sub input::placeholder {
  color: white;
}

.footer-col .form-sub button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 17px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 3px;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
}

@media (max-width: 800px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width:600px) {
  .footer-col {
    width: 100%;
  }
}

.ok {
  margin-right: 5px;
  color: rgb(255, 166, 0);
}

nav ul li a {
  transition: 0.4s;
}

nav ul li a:hover {
  transform: translateY(2px);
  color: #000000 !important;
}

.registro {
  width: 7rem !important;
  margin-left: 20px;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  height: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
}

.form-control {
  border-radius: 0;
  border: 1px solid black;
}

.pqm,
.qm {
  margin-bottom: 20px !important;
  text-align: justify;
}

.livross {
  margin-top: 50px;
  justify-content: center !important;
  display: flex !important;
  text-align: center !important;
  align-items: center !important;
  width: 35rem !important;
  height: 20rem;
}

.livro2 {
  margin-top: 90px !important;
}

.livross img {
  border-radius: 0.5rem;
  width: 40rem;
  height: 24rem;
}

.dp {
  color: white !important;
}

.header-blue img {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-8px);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-8px);
  }
}

.icon {
  margin-right: 7px;
}

.obj {
  margin-top: 100px;
  margin-bottom: 100px;
}



@media(min-width: 1999px) {
  .nm {
    display: inline;
  }

}

@media(max-width:1112px) {
  .nm {
    display: inline;
  }
}