@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

:root {
    --color-nav-light: 	#FFFAFA ;
    --color-nav-dark: 	#000000;
    --box-shadow-nav: 2px 6px 5px#000000bb;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

.header-nav {
    width: 100%;
    background: #87CEFA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 130px;
    position: fixed;
    top: 0;
}

#nav {
    top: 10px;
    margin-top: 15px;
}

#nav li {
    display: inline-flex;
    margin: 10px;
}

#nav li a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 3px 3px;
}

#menu {
    display: block;
    padding: 8px;
}

#btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    #menu {
       display: block;
       position: absolute;
       width: 100%;
       top: 70px;
       right: 0px;
       background: #87CEFA;
       height: 0px;
       margin-top: 25px;
       z-index: -1000;
       transition: .6s;
       visibility: hidden;
       overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(60vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer {
        border-top: 2px solid;
        width: 20px;
        color: white;
    }
    #hamburguer::after, #hamburguer::before {
        content: ' ';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background: currentColor;
        transition: .4s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/* Nav-bar Fim */

.container-main {
    margin-top: 14rem;
    margin-left: 4rem;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.videobook {
    min-width: 100%;
    min-height: 100%;
    max-width: auto;
    max-height: auto;
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    z-index: -1000;
    background: url(' ') no-repeat;
    background-size: cover;
    position: fixed;
}

.titulo {
    font-size: 70px;
    color: rgb(255, 255, 255);
}

/*______________Livros__________________*/

.content {
    width: auto;
    height: 28rem;
    margin-top: 25rem;
    padding: auto;
}

.booklivro{
    position: fixed;
    top: 8%;
    left: 18.1%;
    border-radius: 2rem;
    opacity:0.9;
    transition: 0.5s;
}

h1{
  	transition: transform 2s;
    font-size: 60px;
    color: white;
    font-family: 'Big Shoulders Display', cursive;
}

.card:hover > p{
    opacity:1;
    transform: scale(1.2);
    top: 80%; 
}


img, #parent {
    cursor: pointer;
}

.card:hover > img{
    opacity:1;
    transform: scale(1.2);
             
}

.card header {
    position:absolute;
    top: 120%;
    left: 0%;
    padding: 1px;
    border-radius:  25px;
    width: 450px;
    height: 90px;
    transition: all .5s;
    opacity:0;
}

.card:hover > header{
    opacity:1;
    width: 450px;
    height: 90px;
    transform: translateY(-120px);
}

 .card {
    transition: transform .7s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background: white;
    width: 450px;
    height: 450px;
}

.card:hover{
   transform: scale(1.08)
}
  .centeri{ 
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  span{  
    position: relative;
  }
  


.final {
    margin-top: 35rem;
}

