@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

:root {
    --color-nav-light: 	#FFFAFA ;
    --color-nav-dark: 	#000000;
    --box-shadow-nav: 2px 6px 5px#000000bb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #000000 !important;
}

.header-nav {
    width: 100%;
    background: #87CEFA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 130px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

#nav {
    top: 10px;
    margin-top: 15px;
}

#nav li {
    display: inline-flex;
    margin: 10px;
}

#nav li a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 3px 3px;
}

#menu {
    display: block;
    padding: 8px;
}

#btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    #menu {
       display: block;
       position: absolute;
       width: 100%;
       top: 70px;
       right: 0px;
       background: #87CEFA;
       height: 0px;
       margin-top: 25px;
       z-index: -1000;
       transition: .6s;
       visibility: hidden;
       overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(60vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer {
        border-top: 2px solid;
        width: 20px;
        color: white;
    }
    #hamburguer::after, #hamburguer::before {
        content: ' ';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background: currentColor;
        transition: .4s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/* Nav-bar Fim */



/*______________Livros__________________*/

.cont{
    width: 100%;
    margin-top: 15rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
}

.container-bk {
    display: flex;
    position: relative;
    top: 100px;
    overflow: hidden;
    margin: 25px;
}

.container-img {
    margin: 30px;
    background-color: white;
    border-radius: 500px;
    height: 450px;
    width: 450px;
    text-align: center;
    align-items: center;
    transition: 0.8s;
    
}

.container-img:hover {
    transition: .8s;
    transform: scale(1.04);
}


.bok {
    width: 300px;
    position: relative;
    transition: .4s;
    cursor: pointer;
}

.bok:hover {
    transform: scale(1.10);
    transition: .5s;
}

/*______________Footer__________________*/
.fim {
    margin-top: 40rem;
}

footer {
    background-color: #87CEFA;
    padding: 50px 0;
  }
  
  .container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
  }
  
  .row-footer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
  }
  
  .footer-col ul {
    list-style: none;
  }
  
  .footer-col ul li {
    margin: 10px 0;
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.8s ease;
  }
  
  .footer-col ul li a:hover {
    color: rgba(31, 29, 29, 0.712);
    padding-left: 10px;
    transition: all 0.9s;
  }
  
  .footer-col .medias-socias {
    margin-top: 30px;
  }
  
  .footer-col .medias-socias a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
  }
  
  .footer-col .medias-socias a i {
    font-size: 20px;
  }
  
  .footer-col .medias-socias a:hover {
    color: #000000;
    background-color: white;
  }
  
  .footer-col .form-sub input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    background-color: #000000;
  }
  
  .footer-col .form-sub input::placeholder {
    color: white;
  }
  
  .footer-col .form-sub button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    border-radius: 3px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
  }
  
  @media (max-width: 800px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  @media (max-width:600px) {
    .footer-col {
      width: 100%;
    }
  }
  
  nav ul li a {
    transition: 0.4s;
  }
  
 