* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container-bk {
    display: flex;
    position: relative;
    top: 100px;
    overflow: hidden;
    margin: 25px;
}

.container-img {
    margin: 30px;
    background-color: white;
    border-radius: 500px;
    height: 450px;
    width: 450px;
    text-align: center;
    align-items: center;
    transition: 0.8s;
}

.container-img:hover {
    transition: .8s;
    transform: scale(1.04);
}


img {
    width: 300px;
    position: relative;
    transition: .4s;
    cursor: pointer;
}

img:hover {
    transform: scale(1.10);
    transition: .5s;
}

